{{- if index .Values "change-stream-listener" "enabled" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "scim-api.fullname" . }}-listener
  labels:
    {{- include "scim-api.labels" . | nindent 4 }}
    app.kubernetes.io/component: listener
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: listener
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        {{- include "scim-api.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: listener
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- $scim := index .Values "scim-server" | default (dict) }}
      {{- with (index $scim "image" | default (dict)) }}
      {{- if .pullSecrets }}
      imagePullSecrets:
        {{- toYaml .pullSecrets | nindent 8 }}
      {{- end }}
      {{- end }}
      containers:
        - name: {{ include "scim-api.name" . }}-listener
          image: "{{ (index $scim "image").repository }}:{{ (index $scim "image").tag }}"
          imagePullPolicy: {{ (index $scim "image").pullPolicy }}
          command: ["npm", "run", "start:listener"]
          env:
            - name: START_LISTENER
              value: "1"
          envFrom:
            - configMapRef:
                name: {{ include "scim-api.fullname" . }}
            - secretRef:
                name: {{ .Values.secret.name }}
          {{- with (index $scim "resources") }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
