/node_modules

/dist
/build
/out

/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/src/**/*.d.ts.map

# Log files
*.log
npm-debug.log*

.env
.env.local

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.tsbuildinfo

/coverage

.DS_Store
Thumbs.db

*.ts.map
*.js.map
*.tgz

# k8s/helm
deploy/helm/charts/
values.local.yaml
